<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Failed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
        <!--theme-style-->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}" rel="stylesheet" type="text/css">
        <!--//fonts-->
        <script th:src="@{/js/jquery.min.js}"></script>
    </head>
    <body> 
        <!-- chèn fragment header-->
        <div th:replace="/fragments/header :: header"/>
        
        <div class="container">
            <!-- your code goes here -->
            <div class="register">
                <h1 style="color: red">Update new product failed. Please try again.</h1>
            </div>
<!--            <div class="clearfix"> </div>-->
            <!-- chèn fragment sub-cate -->
            <div th:replace="/fragments/sub-cate :: sub-cate"/>
            
            <div class="clearfix"> </div>
        </div>
        <!-- chèn fragment footer -->
        <div th:replace="/fragments/footer :: footer"/>
    </body>
</html>