<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<!-- template mẫu cho mọi trang html -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Admin Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
        <!--theme-style-->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}" rel="stylesheet" type="text/css">
        <!--//fonts-->
        <script th:src="@{/js/jquery.min.js}"></script>
    </head>
    <body> 
        <!-- chèn fragment header-->
        <div th:replace="/fragments/header :: header"/>
        
        <div class="container">
            <div class=" single_top">
                <h1>ADMIN CONTROL PAGE</h1>
                <br>
                <h2>PRODUCTS</h2>
                <a th:href="@{/addProduct}"><span class="on-get">ADD A NEW PRODUCT</span></a>
                <a th:href="@{/listProduct}"><span class="on-get">PRODUCTS LIST</span></a>
                
                <h2>PRODUCERS</h2>
                <a th:href="@{/addProducer}"><span class="on-get">ADD A NEW PRODUCER</span></a>
                <a th:href="@{/listProducer}"><span class="on-get">PRODUCERS LIST</span></a>
                
                <h2>ORDERS</h2>
                <a th:href="@{/listOrder}"><span class="on-get">ORDERS LIST</span></a>

                <h2>USERS</h2>
                <a th:href="@{/listUser}"><span class="on-get">USERS LIST</span></a>

                <h2>FEEDBACKS</h2>
                <a th:href="@{#}"><span class="on-get">READ FEEDBACKS</span></a>

                <h2>ORDERS</h2>
                <a th:href="@{#}"><span class="on-get">ORDERS LIST</span></a>
                <div class="clearfix"> </div>
            </div>

            <!-- chèn fragment sub-cate -->
            <div th:replace="/fragments/sub-cate :: sub-cate"/>
            <div class="clearfix"> </div>
        </div>
        <!-- chèn fragment footer -->
        <div th:replace="/fragments/footer :: footer"/>
    </body>
</html>