<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<!-- template mẫu cho mọi trang html -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/etalage.css}" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}" rel="stylesheet"
          type="text/css">
    <!--//fonts-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.etalage.min.js}"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
</head>
<body>
<!-- chèn fragment header-->
<div th:replace="/fragments/header :: header"/>

<div class="container">
    <div class=" single_top">
        <div class="toogle">
            <h3 class="m_3">Full name</h3>
            <p class="text-info"><span th:text="${user.getFULLNAME()}"></span></p>
        </div>
        <div class="toogle">
            <h3 class="m_3">Email</h3>
            <p class="text-info"><span th:text="${user.getEMAIL()}"></span></p>
        </div>
        <div class="toogle">
            <h3 class="m_3">Phone</h3>
            <p class="text-info"><span th:text="${user.getPHONE()}"></span></p>
        </div>
        <div class="toogle">
            <h3 class="m_3">User name</h3>
            <p class="text-info"><span th:text="${user.getUSERNAME()}"></span></p>
        </div>
        <div class="toogle">
            <h3 class="m_3">Role</h3>
            <p class="text-info"><span th:text="${user.getROLE()}"></span></p>
        </div>
    </div>
    <!-- chèn fragment sub-cate -->
    <div th:replace="/fragments/sub-cate :: sub-cate"/>
    <div class="clearfix"></div>
</div>
<!-- chèn fragment footer -->
<div th:replace="/fragments/footer :: footer"/>
</body>
</html>