USE [master]
GO
/****** Object:  Database [WebDongHoDB]    Script Date: 12/10/2019 12:29:02 PM ******/
CREATE DATABASE [WebDongHoDB] ON  PRIMARY 
( NAME = N'WebDongHoDB', FILENAME = N'E:\Workspace\Database\DATA\WebDongHoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebDongHoDB_log', FILENAME = N'E:\Workspace\Database\DATA\WebDongHoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDongHoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDongHoDB]
GO
/****** Object:  Table [dbo].[contactdb]    Script Date: 12/10/2019 12:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactdb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](20) NULL,
	[MESSAGE] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdb]    Script Date: 12/10/2019 12:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[PRICE] [bigint] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_orderdb_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producerdb]    Script Date: 12/10/2019 12:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producerdb](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[WEBSITE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_producerdb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productdb]    Script Date: 12/10/2019 12:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productdb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[PRICE] [nvarchar](20) NOT NULL,
	[PRODUCER_ID] [int] NOT NULL,
	[STOCK_NUMBER] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](400) NULL,
	[IMAGE] [nvarchar](100) NULL,
 CONSTRAINT [PK_productdb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userdb]    Script Date: 12/10/2019 12:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userdb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](30) NULL,
	[PHONE] [nvarchar](15) NULL,
	[EMAIL] [varchar](20) NULL,
	[USERNAME] [varchar](20) NULL,
	[ROLE] [char](10) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[CPASSWORD] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contactdb] ON 

INSERT [dbo].[contactdb] ([ID], [NAME], [EMAIL], [MESSAGE]) VALUES (1, N'Lol', N'lol@lol.com', N'Test message.')
INSERT [dbo].[contactdb] ([ID], [NAME], [EMAIL], [MESSAGE]) VALUES (2, N'Moon', N'moon@gmail.com', N'I love you')
INSERT [dbo].[contactdb] ([ID], [NAME], [EMAIL], [MESSAGE]) VALUES (3, N'Moon', N'moon@gmail.com', N'test')
SET IDENTITY_INSERT [dbo].[contactdb] OFF
SET IDENTITY_INSERT [dbo].[orderdb] ON 

INSERT [dbo].[orderdb] ([ID], [PRODUCT_ID], [CREATED_TIME], [ADDRESS], [PRICE], [QUANTITY]) VALUES (1, 12, CAST(N'2019-12-10T07:58:51.810' AS DateTime), N'blah', 7060000, 1)
INSERT [dbo].[orderdb] ([ID], [PRODUCT_ID], [CREATED_TIME], [ADDRESS], [PRICE], [QUANTITY]) VALUES (2, 12, CAST(N'2019-12-10T08:59:02.447' AS DateTime), N'blah', 7060000, 1)
SET IDENTITY_INSERT [dbo].[orderdb] OFF
INSERT [dbo].[producerdb] ([ID], [NAME], [WEBSITE]) VALUES (10, N'Seiko', N'https://www.seikowatches.com/')
INSERT [dbo].[producerdb] ([ID], [NAME], [WEBSITE]) VALUES (11, N'Doxa', N'https://doxawatches.com/')
INSERT [dbo].[producerdb] ([ID], [NAME], [WEBSITE]) VALUES (12, N'Fouetté', N'https://www.fouette.co/')
SET IDENTITY_INSERT [dbo].[productdb] ON 

INSERT [dbo].[productdb] ([ID], [NAME], [PRICE], [PRODUCER_ID], [STOCK_NUMBER], [DESCRIPTION], [IMAGE]) VALUES (12, N'Seiko SRPD51K1', N'7060000', 10, 98, N'Mẫu Seiko SRPD51K1 nổi bật với vẻ ngoài dày dặn với phẩn vỏ máy kim loại loại mạ bạc độ dày 13mm, các chấm tròn trắng dạ quang với thiết kế to bản nổi bật trên mặt số xanh.', N'/dw/1_SRPD51K1-699x699.jpg')
INSERT [dbo].[productdb] ([ID], [NAME], [PRICE], [PRODUCER_ID], [STOCK_NUMBER], [DESCRIPTION], [IMAGE]) VALUES (13, N'Doxa nam D157KWH', N'16610000', 11, 200, N'Đồng hồ Doxa nam D157KWH kiểu dáng 2 kim đơn giản cùng với 8 viên kim cương đính trên mặt số size 39mm tạo điểm nhấn nổi bật sang trọng cùng với vỏ máy mạ vàng.', N'/dw/2_D157KWH-699x699.jpg')
INSERT [dbo].[productdb] ([ID], [NAME], [PRICE], [PRODUCER_ID], [STOCK_NUMBER], [DESCRIPTION], [IMAGE]) VALUES (14, N'Fouetté OR-1', N'15500000', 12, 300, N'Mẫu Fouetté OR-1 mang trên mình một thiết kế độc đáo khắc họa lên hình ảnh một vũ công ba lê chuyên nghiệp đang trình diễn trên nền mặt số được đính kèm các viên kim cương tạo nên một vẻ đẹp đầy cuốn hút dành cho phái đẹp.', N'/dw/2_OR-1-699x699.jpg')
SET IDENTITY_INSERT [dbo].[productdb] OFF
SET IDENTITY_INSERT [dbo].[userdb] ON 

INSERT [dbo].[userdb] ([ID], [FULLNAME], [PHONE], [EMAIL], [USERNAME], [ROLE], [PASSWORD], [CPASSWORD]) VALUES (1, N'Moon', N'0912345678', N'moon@gmail.com', N'admin1', N'ROLE_ADMIN', N'$2a$10$/a4Ilf4Ml.I.QXm1.OXKEOedBC.2cHaKTmve1X3nYOw4Crx7dhAda', N'$2a$10$/a4Ilf4Ml.I.QXm1.OXKEOedBC.2cHaKTmve1X3nYOw4Crx7dhAda')
INSERT [dbo].[userdb] ([ID], [FULLNAME], [PHONE], [EMAIL], [USERNAME], [ROLE], [PASSWORD], [CPASSWORD]) VALUES (2, N'Phong Ha', N'06969696969', N'lol@lol.com', N'admin2', N'ROLE_USER ', N'$2a$10$1qqYOonQeHRoPXIxUaMi4.SgbVYeXLxT.zypwZ.GGUAStRFzhVMEm', N'$2a$10$T.mmPbx4O6Fes3Xve7WI4uzfLzrlUbS9TVml1GIMcCqKRbEIbAVK.')
INSERT [dbo].[userdb] ([ID], [FULLNAME], [PHONE], [EMAIL], [USERNAME], [ROLE], [PASSWORD], [CPASSWORD]) VALUES (3, N'Test Name 1', N'011111111111', N'test1@test.com', N'user1', N'ROLE_USER ', N'$2a$10$yZLLDORTrNk1yV0yLvbjF.f4CxoEmb94NLSgVEUcBLBWEkblB9wju', N'$2a$10$yy/PyJpcRQJ0sxksbDlQUO2UhWI58WK2IFDl0sHpO9sgUDB1/7GLK')
SET IDENTITY_INSERT [dbo].[userdb] OFF
ALTER TABLE [dbo].[userdb] ADD  DEFAULT ('ROLE_USER ') FOR [ROLE]
GO
USE [master]
GO
